* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.Nav {
  display: flex;
  padding: 10px 0px;
  justify-content: space-between;
}

.Nav>button {
  color: white;
  background-color: black;
}

.center-nav {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center-nav>a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 25px;
  background-color: transparent;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  width: 100%;
  height: 80vh;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  justify-content: space-between;
  background-image: url(https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?q=80&w=1005&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

section .center {
  width: 50%;
  height: 40%;
  display: flex;
  margin-top: 20vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.center h1 {
  color: white;
  font-weight: 600;
  text-align: center;
}

.center p {
  color: white;
  text-align: center;
}

.center button {
  border: none;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
  text-align: center;
  padding: 8px 12px;
  background-color: #0D1A2D;
}

.Section-Footer {
  width: 100%;
  display: flex;
  padding: 20px 30px;
  align-items: center;
  justify-content: space-between;
}

.left-footer {
  gap: 20px;
  display: flex;
}

.left-footer p {
  color: white;
}

.image-box {
  padding: 8px;
  display: flex;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  background-color: #A4C3D8;
}

.ImageContainer {
  height: 30px;
  width: 30px;
  overflow: hidden;
  border-radius: 50%;

}

.ImageContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.right-footer {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-footer a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.hero {
  width: 100%;
}

.hero-top-part {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  /* background-color: yellow; */
  justify-content: space-between;
}

.hero-top-part h4 {
  width: 50%;
  color: #1E2536;
  font-weight: 600;
  font-size: 1.2rem;
}

.hero-center-part {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.hero-center-part .ImageContainer {
  height: 40vh;
  width: 30%;
  border-radius: 15px;
}

.hero-bottom-part {
  width: 100%;
  /* height: 10vh; */
  /* background-color: gray; */
}

.hero-bottom-part>h3 {
  margin-top: 2.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.hero-bottom-part>.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hero-bottom-part>.section div {
  margin-top: 10vh;
  width: 20%;
}

.hero-bottom-part>.section div h1 {
  font-size: 2.3rem;
  text-align: center;
  font-weight: 700;
}

.hero-bottom-part>.section div p {
  text-align: center;
}
footer{
  width: 100%;
  padding: 1.5rem 0;
  background-color: yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer>div{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 30%;
  background-color: #fff;
}
footer>div>button{
  padding: 5px 10px;
  background-color: transparent;
}
.second-button{
  background-color: #0C1B2D;
  color: white;
}